<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
    
	<title>RESUME</title>
  <style>
    h2{
	color:green;
	font-family:Verdana;
	border-bottom:3px solid ;
  }
  h1{
	color:Mediumvioletred;
  }
  h3{
	font-family:verdana;
	font-size:200%;
  
  }
  p{
	resize: both;
	
  }
  .resume{
	display:grid;
	grid-template-columns:40% 1fr;
	grid-gap:4rem;
	
  }
  h4{
	width:400px;
   
	border:1px solid black;
	align-items:left;
  }
  body{
  background-color:#eedfce;
  }
  
  </style>
</head>

<h1><i><b>Nivetha Thiyagarajan<img src="https://imagizer.imageshack.com/img923/5407/VMNwBi.png" width="200" height ="200" align="right"></b></i></h1>
         <h3>- AI DEVELOPER 1</h3>
  <h4><i>Email: nivethathiyagarajan2003@gmail.com</i></h4> 
   <h4><i>Phone Number: 7094800856</i></h4> 
   <h4><i>Linkedin:Nivetha Thiyagarajan</i></h4> 
<body>
    <h2><i>Objective</i></h2>
    <p><i>I'm a Artificial Intelligence and Data Science Student with a focus on Machine learning.I'm hardworking, diligent, and dedicated in all qualities and I put forward in everything I do.<br> Eager to join professional world 
      with keen interest to implement and calibrate technical skill set in professional world.</i> </p>
  <h2><i>Technical Skills</i></h2>
 
     <p ><i>&#9733; Data Science</p></div>
  <p>&#9733; Machine Learning</p>
   <P>&#9733; Data Mining</p>
     <P>&#9733; Tools-Tableau</p>
    <P> &#9733; Tools-Power BI</p>
<h2>Programming Skills</h2>
  <p>&#9733;  C</p>
  <P>&#9733; Python</p>
   <P>&#9733; Java</p>
     <P>&#9733; R</p>
 <P>&#9733; HTML</p>
<P>&#9733; CSS</p>
    <h2><b>Projects</b></h2>
    
        <p>2022 &nbsp;<b> Smart India Hackathon:</b>     
        &nbsp;Developed Android Application for <b>Automated Animal Identification and Detection of Species (AAIDeS).</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It helps to identify and find the proportion of fish species in India.<br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Domain:</b>Agriculture,FoodTech and Rural Development.<br></p>
		<p>2022 &nbsp;  <b>Mini Project:</b>
        &nbsp;  Developed a mini project for <b>Electricity Generator With AI weather Forecasting.</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It helps to generate electricity from renewable energies and to reduce electricity Bill.<br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Domain:</b>Artificial Intelligence.</p>
    <h2><b>Education</b></h2>

       <p>2020 - 2024&nbsp;&nbsp;<b>Bachelor of Technology</b><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;
       <b>Artificial Intelligence and Data Science</b> from Karpagam College Of Engineering,Coimbatore with <b>CGPA:9.76.</b></p>
       <p>2018 - 2020&nbsp;&nbsp;<b>Higher Secondary Certificate</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;
        Completed Higher Secondary School in <b>Laurel higher secondary school,Pattukottai</b> with Percentage of <b>74.33.</b></p>
        <p>2017 - 2018&nbsp;&nbsp;<b>Secondary School Leaving Certificate</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;
        Completed Secondary School in <b>Sri sankara matric higher secondary school,Peralam</b> with Percentage of <b>98.</b></p>

    <h2><b>Workshops</b></h2>
    <p> <b>Data Visualization-</b>Using Tableau Software organized by Analytics India Magazine.It is used to know about visualization techniques.<br>
    <b>Fundamentals of Deep Learning-</b>Using Python conducted by  NVIDIA.It is used to know about deep learning technology.</p>

    <h2><b>Internships</b></h2>
    <p> <b>Power BI-</b>from WE AND DATA.It is to create a visualization of Dashboard and make a report about the visualization.The Business Intelligence internship provides an introduction to Power BI which
        will help to understand the concepts behind Business Intelligence.In this internship program, I have learnt various popular topics such as History of Power BI, applications of 
        BI,Power BI,visualizations,Data modeling,Power query, etc.This internship gives the overview on Power BI Desktop,Visualizations,Data modeling 
        and Power BI services.Helpful in creating insightful dashboard in Power BI.</p>

    <h2><b>Certifications</b></h2>
    <p><b> &#9733; COURSERA-</b>Programming for Everybody,Limits for AP®(Calculus AB,BC) & Data Science - with Visuals,
        Build & Deploy AI Messenger Chatbot using IBM Watson.<br>
        <b> &#9733; AUTOMATION ANYWHERE-</b>Introducing RPA ,Getting started with RPA ,Getting started with Building Bots,
        Setting Up a Cloud Enabled Deployment Model for Enterprise.<br>
        <b> &#9733; SHAPE AI-</b>Bootcamp on Basic web-dev with Bootstrap.<br>
        <b> &#9733; INFOSYS-</b>In Java Programming Fundamentals and feautures.<br>
        <b> &#9733; UI PATH-</b>Step into RPA(Diploma of Completion).<br>
        <b> &#9733; TCS-</b>TCS iON Career Edge - Young Professional.</p>

    <h2><b>Declaration</b></h2>
    <p>I hereby declare that all the information provided above is accurate to the best of my knowledge.</p>


</body>
</html>